{% extends 'company_base.html' %}
{% block main %}


<div id="content">

    <p>
        department
        {% for each in department %}
        {{ each.id }}+++ {{ each.description }}
        <a href={% url 'department_bussiness_card' pk=each.id %}>detail!</a>

        {% endfor %}
    </p>
    <p>
        <p>waiting for approved recruitment</p>
        {% for each in waiting_recruitment_info %}
        <p>{{ each.id }}+++ {{ each.salary}}++{{ each.description }}</p>
        <a href={% url 'recuirtment_detail' each.id %}>detail!</a>
        {% endfor %}
    </p>

</div>

{% endblock main %}