{% extends 'company_base.html' %}
{% block main %}


<div id="content">
        <!--<h1 class="title_position" >Sign in</h1>-->
    <p>
        department
        {% for each in department %}
        {{ each.id }}+++ {{ each.description }}
        {% endfor %}
    </p>
    <p>
        <p>waiting for approved recruitment</p>
        {% for each in waiting_recruitment_info %}
        <p>{{ each.id }}+++ {{ each.salary}}++{{ each.description }}</p>
        <a href={% url 'recuirtment_detail' each.id %}>detail!</a>
        {% endfor %}
    </p>
        <div class="form_postion">
            <form action="" method="post">
            {% csrf_token %}

            <table>
                {{form.as_table}}

            </table>

            <input type="submit" value="Sign in" class="btn sub-btn">

            </form>
        </div>
<div>

{% endblock main %}