{% extends 'base.html' %}

{% block main %}
<div id="content">
        <h1 class="title_position" >Sign up</h1>
    {{ user.username }}
    {% if form == None %}
        <a href=/create_user_engineer>create engineer</a>
        <a href=/create_user_company>create company</a>




    {% endif %}
    {% if name_used %}
    <p class="error">The name have been occupied!</p>
    {% endif %}
    {% if form %}
        <div class="form_postion">
           <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <table>
                    {{form.as_table}}
                </table>
                <input type="submit" value="Sign up" class="btn btn-sub">
           </form>
        </div>
    {% endif %}
</div>
<div id="description">
    <p>description</p>
    <p>it's the template to create user, i mean any user, based on the different content of the form, we can create different type of User
</p>
    <p>we still need js to help us check the validity of user_name,passcode,if passcode and comfirm passcode match </p>
    <p>we don't allow user name includes '_'</p>
</div>
{% endblock main %}