<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Engineer_recruit</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/base.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    {% block head %}
    {% endblock head %}
</head>

<body>
       <div class="nav">
           <ul class="list">
               <li><a href="#">Engineer Recruit</a><li>
               <li><a href="../checkinglist.html">My application</a></li>
               <li><a href="../user_homepage/transaction">My transaction</a></li>
               <ul class="right">
                   <li>
                        <a href="#">{{ user.username }}</a>
                        <div class="down">
                            <a href={% url 'my_info' ''%} >My  Info </a>
                            <a href={% url 'logout' %}>Log Out!</a>
                            <a href={% url 'business_card' user.id %}>my bussiness card</a>
                            <a href={% url 'show_message_box' %}>message_box!</a>
                            <a href={% url 'view_history' %}>history</a>
                        </div>
                    </li>
             </ul>
           </ul>
       </div>
  <main>
      <div>
          {% block main %}
          {% endblock main %}
      </div>
  </main>
</body>
</html>
