
<div id="content">
       update money for  company
        <!--<h1 class="title_position" >Sign in</h1>-->
        <div class="form_postion">
            <form action="" method="post">
            {% csrf_token %}

            <table>
                {{form.as_table}}

            </table>

            <input type="submit" value="Sign in" class="btn sub-btn">
                <span class="btn sub-btn"><a href="/create_user_user">create recruiment</a></span>
            </form>
        </div>
</div>