{% extends 'engineer_base.html' %}

{% block main %}

    <p>hi {{ user.username }}</p>
    <p>hi you_have_<a href="../message/show_calling_people">{{ reminds }}</a>_new_messages</p>
<div id="content">
        <h1 class="title_position" >Sign up</h1>
    {% if password_not_match %}
    <p class="error">The password does not match!</p>
    {% endif %}
        <div class="form_postion">
           <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <table>
                    {{form.as_table}}
                </table>
                <input type="submit" value="Sign up" class="btn btn-sub">
           </form>
        </div>
</div>
<div>
my application
        {% for item in applying %}
            <li>
                <p>{{ item.recruitment.title }} {{ item.recruitment.department.username }} {{ item.applier_message }} </p>

            </li>
        {% endfor %}
</div>

<div>
my approving
        {% for item in approving %}
            <li>
                <p>{{ item.recruitment.title }} {{ item.recruitment.department.username }} {{ item.applier_message }} </p>
                <a href={% url 'application.views.ordering' item.id 1 %}> approving</a>
                <a href={% url 'application.views.ordering' item.id 2 %}> deny</a>
                <a href={% url 'message.views.send_message'  item.recruitment.department.id%}>contact him </a>

            </li>
        {% endfor %}
</div>
<div>
my order
        {% for item in order %}
            <li>
                <p>{{ item.recruitment.title }} {{ item.recruitment.department.username }} {{ item.applier_message }} {{ item.state }}</p>
                {% if item.state == "O" %}
                    <a href={% url 'application.views.start_working' item.id  %}> starting</a>
                    <a href={% url 'application.views.approving' item.id 2 %}> problem</a>
                    <a href={% url 'message.views.send_message'  item.recruitment.department.id%}>contact him </a>

                {% endif %}
                {% if item.state == "W" %}
                    <a href={% url 'application.views.finish_work' item.id  %}> finish</a>
                    <a href={% url 'application.views.approving' item.id 2 %}> problem</a>
                    <a href={% url 'message.views.send_message'  item.recruitment.department.id%}>contact him </a>
                {% endif %}
            </li>
        {% endfor %}
</div>
{% endblock main %}