{% extends 'engineer_base.html' %}

{% block main %}

    <p>hi {{ user.username }}</p>
    <p>hi you_have_<a href="../message/show_calling_people">{{ reminds }}</a>_new_messages</p>
<div id="content">
        <h1 class="title_position" >Search work info</h1>
        <div class="form_postion">
           <form action={% url 'searching' %} ,  method="get" enctype="multipart/form-data">
                {% csrf_token %}

                <table>
                    {{form.as_table}}
                </table>
                <input type="submit" value="Sign up" class="btn btn-sub">
           </form>
        </div>
</div>
<div>
    <p>application_info</p>
    <li>appliying_application </li>
    <p>
    {% for each in applying_application %}

        <p>{{ each.applier.username }}++ {{ each.date}}++{{ each.recruitment.title }}
            <a href={% url 'application_detail' each.id %}>detail!</a>
        </p>
    {% endfor %}


    <li>waiting_approveing_application </li>
    <p>
    {% for each in waiting_approveing_application %}

        <p>{{ each.applier.username }}++ {{ each.date}}++{{ each.recruitment.title }}
            <a href={% url 'application_detail' each.id %}>detail!</a>
        </p>
    {% endfor %}

    <li>processing_application </li>
    <p>
    {% for each in processing_application %}

        <p>{{ each.applier.username }}++ {{ each.date}}++{{ each.recruitment.title }}++{{ each.status }}
            <a href={% url 'application_detail' each.id %}>detail!</a>
        </p>
    {% endfor %}
</div>

{% endblock main %}