{% extends 'engineer_base.html' %}

{% block head %}
<link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
<link href="../static/css/engineerHomepage.css" rel="stylesheet">
<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="../static/js/engineerHomepage.js"></script>
{% endblock head %}

{% block main %}

    <p class="p-content">hi {{ user.username }} ,you have {% if reminds %}<a class="remind" href="../message/show_calling_people">{{ reminds }}</a>{% else %}0{% endif %} new messages</p>



    <div class="search_form">
       <form action={% url 'searching' %} ,  method="get" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="beg-date">

                    <input id="id_beg_data" name="beg_data" type="text" value="Beg date">
                </div>
                <div class="end-date">

                    <input id="id_end_data" name="end_data" type="text" value="End date">

                </div>
                <div class="state">

                    <select id="id_state" name="state">
                        <option value="BJ" aria-checked="true">BJ</option>
                        <option value="TJ">TJ</option>
                    </select>
                </div>
                <div class="major">

                    <select id="id_major" name="major">
                        <option value="CS" aria-checked="true">computer science</option>
                        <option value="EE">electric engnieer</option>
                    </select>

                </div>

            <input type="submit" value="search" class="search-btn">
       </form>
    </div>
<div class="divide"></div>

<div id="tab">
    <ul>
    <li class="active">
        <a href="#">appliying_application</a>
    </li>
    <li>
        <a href="#">waiting_approveing_application</a>
    </li>
    <li>
        <a href="#">processing_application</a>
    </li>
    </ul>
    <div class="content">
        <table class="table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Date</th>
                <th>Title</th>
                <th>Detail</th>
            </tr>
            </thead>
            <tbody>
        {% for each in applying_application %}


            <tr>
                <td>{{ each.applier.username }}</td>
                <td> {{ each.date}}</td>
                <td>{{ each.recruitment.title }}</td>
                <td><a href={% url 'application_detail' each.id %}>detail!</a></td>
            </tr>

        {% endfor %}
            </tbody>
        </table>
    </div>
    <div>


           <table class="table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Date</th>
                <th>Title</th>
                <th>Detail</th>
            </tr>
            </thead>
            <tbody>
        {% for each in waiting_approveing_application %}


            <tr>
                <td>{{ each.applier.username }}</td>
                <td> {{ each.date}}</td>
                <td>{{ each.recruitment.title }}</td>
                <td><a href={% url 'application_detail' each.id %}>detail!</a></td>
            </tr>

        {% endfor %}
            </tbody>
        </table>
    </div>
        <div>


           <table class="table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Date</th>
                <th>Title</th>
                <th>Detail</th>
            </tr>
            </thead>
            <tbody>
        {% for each in processing_application %}


            <tr>
                <td>{{ each.applier.username }}</td>
                <td> {{ each.date}}</td>
                <td>{{ each.recruitment.title }}</td>
                <td><a href={% url 'application_detail' each.id %}>detail!</a></td>
            </tr>

        {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock main %}

